<div class="authNavbar">
  <div class="search-bar">
    <form style="flex: 1;" action="/search" method="get">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search your friend"
          name="user"
          value="<%= typeof(searchName) !== 'undefined' ? searchName : '' %>"
          required
        />
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="fa fa-home" aria-hidden="true"></i>
        <br />
        <span class="p-0 m-0">Home</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/friend_request"
        ><i class="fa fa-users" aria-hidden="true"></i>
        <br />
        <span class="p-0 m-0">Friend Request </span>
        <% if(user.friendRequest.length){ %>
        <span style="background: red;" class="badge badge-dark"
          ><%= user.friendRequest.length%></span
        >
        <% } %>
      </a>
    </li>

    <li class="nav-item  dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="/<%= user.username %>"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img
          class="navbarPhoto"
          src="<%= user.photoLink %>"
          alt="<%=user.name%>"
        />
        <br />
        <span class="p-0 m-0"><%= user.name %></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/user/<%= user.username %>">Profile</a>
        <a class="dropdown-item" href="/user/<%= user.username %>/#settings"
          >Settings</a
        >
        <div class="dropdown-divider"></div>
        <form action="/logout" method="post">
          <input type="submit" class="dropdown-item" value="Log Out" />
        </form>
      </div>
    </li>
  </ul>
</div>
